---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Mateus Barroso">
  <h1>Mateus Barroso</h1>

  <p>
    <a href="/cv.pdf">Download CV (PDF)</a>
  </p>

  <p>
    <img src="/me.jpg" alt="Portrait" width="240" />
  </p>
</Layout>
